.main {
    margin-top: 145px;
}
.main-image img {
    width: 75%;
}
.difference img {
    width: 400px;
}
.value img {
    width: 350px;
    margin-left: 90px;
}
.value-box {
    width: 62%;
    color: #16160e;
    background: #fde8d0;
    border-top: solid 2.5px #5b7e91;
    border-bottom: solid 2.5px #5b7e91;
}
.value-box p {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 32px;
}
.value-sub {
    display: flex;
}
table {
    border-collapse: collapse;
    margin-top: 25px;
    width: 100%;
    table-layout: fixed;
    color: #000;
}
table tr {
    background-color: #fff;
    padding: .35em;
    border-bottom: 1px solid #bbb;
}
table thead{
    border-bottom: 3.5px solid #223a70;
}
table tr:last-child{
     border-bottom: none
}
table th,table td {
    padding: 1em 10px 1em 1em;
    border-right: 1px solid #bbb;
}
table th:last-child,table td:last-child{
    border: none;
}
tbody th {
    color: #223a70;
}
table td{
    text-align: left;
    font-size: 16px;
}
.center {
    text-align: center;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
        width:100%
    }
    table th{
        display: block;
        border-right: none;
        border-bottom: 5px solid #ff9901;
        padding-bottom: .6em;
        margin-bottom: .6em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        display: block;
        margin-bottom: 2em;
    }
    table td {
        border-bottom: 1px solid #bbb;
        display: block;
        font-size: .8em;
        text-align: right;
        position: relative;
        padding: .625em .625em .625em 4em;
        border-right: none;
    }
    table td::before {
        content: attr(data-label);
        font-weight: bold;
        position: absolute;
        left: 10px;
    }
    table td:last-child {
        border-bottom: 0;
    }
}
