.main {
    margin-top: 145px;
}
.main h2 {
    position: relative;
    padding: 0.5em 0.6em;
    background: #f4f4f4;
    border-left: solid 5px #7db4e6;
    border-bottom: solid 3px #d7d7d7;
    font-size: 20px;
    width: 40%;
}
.main h3 {
    position: relative;
    margin-top: 14px;
    border-bottom: solid 4px #d7d7d7;
    font-size: 19px;
    width: 30%;
}
.main p {
    font-size: 16px;
    margin-top: 2px;
    letter-spacing: 0.3px;
    line-height: 24px;
    font-family: "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
}
.main div {
    margin-top: 60px;
}
.main-image {
    padding-top: 65px;
    margin-bottom: -130px;
    text-align: center;
}